<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <!--CSS-->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!--JS-->
    <script rel="stylesheet" src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
    </script>
    <script rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>

</head>

<body>

    <div class="padding" id="app">
        <form @submit="checkForm">

            <div class="my-8">
                <div class="text-center m-4 ">
                    <p v-if="errors" class="text-red-500">
                        <b>Please correct the following error(s):</b>
                        <ul>
                            <li style="list-style: none" v-for="error in errors" class="text-red-500">{{ error }}
                            </li>
                        </ul>
                    </p>

                    <div class="justify-center" style="align-items: center;">
                        <div class="h-40 w-40 justify-center flex item-stretch"> 
                            <img src="images/S__6070488.jpg" >
                        </div>

                        <div class="justify-start text-2xl">
                            <h1>My Profile</h1><br>
                        </div>
  
                        <div class="grid grid-cols-2 gap-4">
                            <div class="flex flex-col">
                                <label for="firstname" class="text-sm leading-7 text-gray-600">First Name</label>
                                <input type="text" id="firstname" v-model="firstname" name="firstname"
                                    class="bg-gray-100 rounded px-4 py-2 mb-4 ml-4">
                            </div>
                            <div class="flex flex-col">
                                <label for="lastname" class="text-sm leading-7 text-gray-600">Last Name</label>
                                <input type="text" id="lastname" v-model="lastname" name="lastname"
                                    class="bg-gray-100 rounded px-4 py-2 mb-4 ml-4">
                            </div>
                            <div class="flex flex-col">
                                <label for="email" class="text-sm leading-7 text-gray-600">Email</label>
                                <input type="text" id="email" v-model="email" name="email"
                                    class="bg-gray-100 rounded px-4 py-2 mb-4 ml-4">
                            </div>
                            <div class="flex flex-col">
                                <label for="phone" class="text-sm leading-7 text-gray-600">Phone Number</label>
                                <input type="text" id="phone" v-model="phone" name="phone"
                                    class="bg-gray-100 rounded px-4 py-2 mb-4 ml-4">
                            </div>
                            <div class="flex flex-col">
                                <label for="address" class="text-sm leading-7 text-gray-600">Address</label>
                                <input type="text" id="address" v-model="address" name="address"
                                    class="bg-gray-100 rounded px-4 py-2 mb-4 ml-4">
                            </div>
                            <div class="flex flex-col">
                                <label for="country" class="text-sm leading-7 text-gray-600">Country</label>
                                <input type="text" id="country" v-model="country" name="country"
                                    class="bg-gray-100 rounded px-4 py-2 mb-4 ml-4">
                            </div>
                        </div>

                        <div>
                            <input type="submit" value="Submit"
                                class="px-8 py-2 text-white bg-green-500 rounded-lg hover:bg-green-600 ">
                        </div>

                    </div>
                </div>
            </div>
    </div>
    <script src="profile.js"></script>
</body>

</html>